body {
	background: #ffffe6  no-repeat center; 
	}
 /*text styling pinky #ff9999 green #339966 grey #666699 cream #ffffe6 */
h1 {
	color: #339966; /*  */
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	color: #ff9999;
}

p {
	color:  #666699; /* middle grey on scale #3 */
	text-align: center;
	font-family: 'PT Serif', serif;
}
main {
	position: relative;
	width: 50%;
	padding: 5%;
	/*margin-top: 10;*/
	border: 3px dotted #555;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-family: 'PT Serif', serif;
}
	
form{
	color:#339966;
}

select {
	color: #666699;
	width: 40%;
	border:##666699;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

nav {
	width: 100%;
	text-align: left;
	/**padding: 0px 20px 5px 20px;**/
	margin-left: auto;
	margin-right: auto;
	font-family: 'Kanit', sans-serif;
	
}

embed:focus {
  outline: none;
}

/* footer for all pages */
footer {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 10px 20px 10px 20px;
	margin-left: auto;
	margin-right: auto;
    font-family: 'PT Serif', serif;
}


a:link {color: #ffe6e6; font-family: 'Kanit', sans-serif;} /* 95% pinky  on scale #2 */
a:visited {color: #ff8080; font-family: 'Kanit', sans-serif;} /* 75% pinky on scale #5 */
a:hover {color: #ff9999; font-family: 'Kanit', sans-serif;} /* 80% pinky on scale #3 */
a:active {color: #494949; font-family: 'Kanit', sans-serif;} /* second grey on scale #2 */

